.App {
  text-align: center;
  background-color: #f3e8ff;
  color: #581c87;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App h1 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 26px;
}
.p-content {
  margin-bottom: 20px;
  font-size: 1.125rem;
}
.App textarea {
  border: 0;
  outline: 0;
  background-color: #ddd6fe;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  min-width: 300px;
  max-width: 400px;
  min-height: 50vh;
  resize: none;
  color: #4a044e;
}
.App form {
  display: flex;
  flex-direction: column;
}
.btn {
  background-color: #ddd6fe;
  color: #4a044e;
  outline: 0;
  border: 0;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px;
  font-size: 1.1rem;
  margin-bottom: 10px;
  border-radius: 5px;
}
.counter {
  margin: 15px 0;
  display: flex;
  gap: 10px;
}
.App footer {
  width: 100%;
  background-color: #ddd6fe;
  padding: 16px;
  margin-top: auto;
  color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
footer a {
  text-decoration: none;
  color: #4a044e;
  font-weight: 600;
}
.popup-modal {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  height: 150px;
  box-shadow: 0 0 5px #4a044e5c;

}
.popup-header {
  border-radius: 10px 10px 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #4a044e;
  font-size: 1.2rem;
  height: 3rem;
  background-color: #f3e8ff;
}
.popup-error {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.popup-error .btn {
  display: block;
  border-radius: 0 0 10px 10px;
  width: 100% !important;
  margin-top: auto;
  margin-bottom: 0;
}
